beautifulsoup4==4.13.4
llama-index==0.14.2
llama-index-embeddings-huggingface==0.6.0
llama-index-llms-google-genai==0.2.5
llama-index-postprocessor-cohere-rerank==0.5.0
llama-index-readers-file==0.5.4
llama-index-vector-stores-qdrant==0.8.4
MainContentExtractor==0.0.4
matplotlib==3.10.5
nest-asyncio==1.6.0
pandas==2.2.3
pypdf==5.8.0
python-dotenv==1.1.1
qdrant-client==1.15.1
requests==2.32.4
seaborn==0.13.2
selenium==4.34.2
sentence-transformers==5.0.0
torch==2.5.1+cu121
tqdm==4.67.1
webdriver-manager==4.0.2