# --- Requisiti del Deployment (inclusi per completezza) ---
streamlit==1.49.1
Babel==2.17.0
llama-index-core==0.14.7
llama-index-utils-huggingface==0.4.1
llama-index-llms-google-genai==0.7.1
llama-index-embeddings-huggingface==0.6.1
llama-index-embeddings-huggingface-api==0.4.1
llama-index-postprocessor-cohere-rerank==0.5.1
llama-index-vector-stores-qdrant==0.8.6
qdrant-client==1.15.1
google-generativeai
python-dotenv==1.1.1

# --- Requisiti SOLO per Preparazione e Valutazione ---

# Per MCE.py
beautifulsoup4==4.13.4
html2text==2024.2.26 

# Per MCER.py
requests==2.32.4
selenium==4.34.2
webdriver-manager==4.0.2

# Per Pypdf
pypdf==5.8.0

# Per Valutazione (Evaluation)
sentence-transformers
matplotlib==3.10.5
nest-asyncio==1.6.0
pandas==2.2.3
seaborn==0.13.2
tqdm==4.67.1