# Interfaccia Web
streamlit==1.49.1

# Framework RAG e LLM
llama-index-core==0.14.7
llama-index-llms-google-genai==0.7.1

# Embedding
llama-index-embeddings-huggingface-api==0.4.1

# Reranker
llama-index-postprocessor-cohere-rerank==0.5.1

# Vector Store
llama-index-vector-stores-qdrant==0.8.6
qdrant-client==1.15.1

# Utilità
python-dotenv==1.1.1
Babel==2.17.0